@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Averia+Serif+Libre:wght@300&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Averia+Serif+Libre:wght@300&family=Fredoka+One&family=Open+Sans&display=swap');




#logo{
    height: 70px;
    width: 100px;
}


body{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

ul a{
    text-decoration: none;
    color: white;
}


.ticket-btn{
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 600;
    color: #394867;
    background-color: transparent;
    border-radius: 38px;
    border: 2px solid #394867;
    outline: none;
    letter-spacing: -.04em;
    margin-right: 10px;
}

.book-btn{
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 600;
    color: #394867;
    background-color: transparent;
    border-radius: 38px;
    border: 2px solid #394867;
    outline: none;
    letter-spacing: -.04em;
    margin-left: 10px;
}

.ticket-btn:hover {
    color: #394867;
    cursor: pointer;
    font-size: 13px;
    background-color: white;
}

.book-btn:hover {
    color: #394867;
    cursor: pointer;
    font-size: 13px;
    background-color: white;
}


/* ------------------------------------------------------- HEADER ---------------------------------------------------------*/




.nav-list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.nav-list a:hover {
    color: #e8f1f5;
    cursor: pointer;
}

.menu-container a{
    text-decoration: none;
    color: white    ;
}

.menu-container a:hover {
    color: #e8f1f5;
    cursor: pointer;
}


.nav-container{
    background-color: #394867;
    font-size: 18px;
    font-family: 'Fredoka One', cursive;
    padding: 0;

}

#xyz{
    font-size: 10px;
    margin-right:100px;
}

#home{
    margin: 0 25px 0 25px;
}

#now-playing{
    margin: 0 25px 0 25px;
}

#food{
    margin: 0 25px 0 25px;
}

#on-demand{
    margin: 0 25px 0 25px;
}



/* ------------------------------------------------------- HEADER END ---------------------------------------------------------*/





/* ------------------------------------------------------- HERO CONTAINER ---------------------------------------------------------*/



.hero-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #f1f6f9;
height: 500px;
}

.hero-container{
   
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    margin-top: 50px;
    font-size: 35px;
    margin-bottom: 0px;
}

h1{
    margin-top: 0px;
    font-size: 55px;
}

.btn{
    margin-bottom: 50px;
}

#arrow-left{
    padding-top: 75px;
    padding-right: 45px;
}
#arrow-right{
    padding-top: 50px;
    padding-left: 45px;
}
#arrow-left:hover{
    color: white;
    cursor: pointer;
}

#arrow-right:hover{
    color: white;
    cursor: pointer;
}


/* ------------------------------------------------------- HERO CONTAINER END ---------------------------------------------------------*/





/* ------------------------------------------------------- NOW PLAYING TITLE---------------------------------------------------------*/








.section-2{
  background-image: url(/images/drew-beamer-kUHfMW8awpE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.title{
    display: grid;
    grid-template-columns: 2fr 0.4fr 0.4fr 0.4fr;
    justify-self: center;
    border-bottom: 1px solid;
    border-color: #004a7c;
    margin: 0 auto;
    width: 50%;
    margin-top: 0;
}

.title > h1{
    justify-self: start;
    margin-top: 100px;
    font-size: 3em;
}

.title a{
    text-decoration: none;
    color: black;
    margin-top: 100px;
}

.title a:hover{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
#np{
    justify-self: end;
}

#cooming{
    justify-self: end;
    
}

#demand{
    justify-self: end;
}


/* ------------------------------------------------------- NOW PLAYING TITLE END---------------------------------------------------------*/


/* ------------------------------------------------------- NOW PLAYING---------------------------------------------------------*/

.now-playing-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
    
}

.section-2{
    background-color: #f1f6f9;
}
.now-playing-container div button{
    margin-bottom: 30px;
}

.now-playing-container h3{
    font-size: 25px;
}

.now-playing-container h3:hover{
    color: white;
    cursor: pointer;
}

hr{
    length: 50px;
}

.information-container{
   padding-top: 100px; 
   background-color: #f1f6f9;
   padding-bottom: 100px; 
}

.info-container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    height: 90%;
}

.info-container-1 img{
    width: 100%;
    max-width: 100%;
    height: auto;
    height: 506px;
    width: 760px;
    object-fit: cover;
    
}

.info-container-1 p{
   width: 50%;
   margin-left: 25%;
   

}

.info-container-2 p{
    width: 50%;
    margin-left: 25%; 
}

.info-container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    height: 90%;
}   

.info-container-2 img{
    width: 100%;
    max-width: 100%;
    height: auto;
    
    height: 506px;
    width: 760px;
    object-fit: cover;
}



/* ------------------------------------------------------- NOW PLAYING END---------------------------------------------------------*/



/* ------------------------------------------------------- SOCIAL CONTAINER ---------------------------------------------------------*/
.social-container{
    
    display: grid;
    grid-template-columns:  1fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ' . icon2 icon1 icon3 icon4 icon5 . ';
    
    
    background-color: #394867;
    justify-self: center;
    border-bottom: 1px solid;
    border-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}


.icon-1{
    grid-area: icon1;
}

.icon-2{
    grid-area: icon2;
}
.icon-3{
    grid-area: icon3;
}
.icon-4{
    grid-area: icon4;
}
.icon-5{
    grid-area: icon5;
}

/* ------------------------------------------------------- SOCIAL CONTAINER END ---------------------------------------------------------*/





/* ------------------------------------------------------- MENU CONTAINER ---------------------------------------------------------*/




.menu-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    background-color: #394867;
    justify-self: center;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid;
    border-color: white;
    color: white
}

.menu-container h3{
    font-size: 20px;
}

.menu-container p{
    font-size: 13px;
}

.copy-right-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #394867;
    justify-self: center;
    align-items: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid white;
}



/* ------------------------------------------------------- MENU CONTAINER END---------------------------------------------------------*/



/*----------------------------------------------------FORM-----------------------------------------------*/


#subscribe{
    display: grid;
    color: white;
    grid-template-columns: 1fr;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #394867;
    border-bottom: 1px solid white;
}

#subscribe-btn{
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #394867;
    border-radius: 6px;
    border: 2px solid #394867;
    outline: none;
}

#subscribe-btn:hover{
    color: #394867;
    cursor: pointer;
    font-size: 13px;
}


.footer-container{
    background-color: #394867;

}


/*----------------------------------------------------FORM END-----------------------------------------------*/





/* ------------------------------------------------------- MODAL ---------------------------------------------------------*/



.modal{
    position: absolute;;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: rgba(158, 158, 158, 0.5);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}


.modal-container{
    width: 700px;
    height: 800px;
    margin: 0 auto;
    background-image: url(/images/guardiansBG.jpg);

    background-repeat: no-repeat;
    background-size: cover;
}

.modal-container h1{
    font-size: 2rem;
    color: white;
    padding-top: 100px;
}


.modal-container p{
    font-size: 1rem;
    padding-bottom: 50px;
    text-align: left;
    color: white;
    
}

.modal-container > div:nth-child(3){
   display: grid;
   justify-content: center;
}

.modal-container > div:nth-child(3) p{
   padding-bottom: 0px;
}

.hide{
   display: none;
}

.modal-btn {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    transition: transform .25s ease-in-out;
    background-color: transparent;
    border: none;
    margin-top: 25px;
    margin-right: 50px;
}
.modal-btn:hover {
    transform: rotate(90deg);
}
.modal-btn:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 3px solid #394867;
    background-color: none;
    transform: rotate(45deg);
    transform-origin: center;
}
.modal-btn:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    background-color: none;
    border-top: 3px solid #394867;
    transform: rotate(-45deg);
    transform-origin: center;
}


/* ------------------------------------------------------- MODAL END ---------------------------------------------------------*/


















@media only screen and (max-width: 640px) {
    .info-container-1 {
      display: flex;
      flex-direction: column;
    }
    .info-container-2 {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 25px;
    }
    .info-container-1 img {
        width: 75%;
      }
      .info-container-2 img{
        width: 90%;
        height: 90%;
      }
      .section-2{
        background-image: url(/Pictures/drew-beamer-kUHfMW8awpE-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: contain;
      }
 
    .nav-list li{
        display: none;
    }
    .nav-list{
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .social-container{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .now-playing-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .modal-container{
        width: auto;
    }

    #subscribe{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}

